@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: #313338;
  --grey-1: #1A1B1E;
  --grey-2: #2B2D31;
  --grey-25: #27282b;
  --grey-3: #43444B;
  --light-grey: #B5BAC1;
  --white-1: #fefefe;
  --danger: #DC4C64;
  --success: #14A44D;
  --accent-1: #7c5dc6;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  margin-top: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);
  display: flex;
}

button:disabled {
  filter: brightness(70%);
}
button:disabled:hover {
  cursor: default;
}

button:focus-visible, select:focus-visible {
  outline: solid var(--accent-1) 3px;
}

button.scalePush {
  transition: scale 0.1s ease-in-out;
}
button.scalePush:active {
  scale: 0.95;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#appID.danger {
  background-color: var(--danger);
  outline: solid var(--grey-1) 4px;
  outline-offset: 0px;
}
#appID.success {
  background-color: var(--success);
  outline: solid var(--grey-1) 4px;
  outline-offset: 0px;
}

.helpBtn {
  --heightwidth: 20px;
  margin-left: 7px;
  margin-bottom: 1px;
  background-color: transparent !important;
  height: var(--heightwidth) !important;
  width: var(--heightwidth) !important;
  aspect-ratio: 1/1 !important;
  min-width: 0;
  max-width: var(--heightwidth);
  padding: 0 !important;
}
.helpBtn img {
  height: var(--heightwidth);
}

label {
  display: flex;
  align-items: end;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--grey-2);
  -webkit-app-region: drag;
  width: 100%;
}
.frame .left {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}
.frame .left h1 {
  color: var(--white-1);
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.frame .left img {
  height: 18px;
  margin-right: 7px;
  margin-bottom: 1px;
}
.frame .right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.frame .right button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  padding: 10px;
  transition: background-color 5ms ease-in-out;
  -webkit-app-region: no-drag;
}
.frame .right button svg {
  height: 15px;
  width: 15px;
}
.frame .right button:hover {
  cursor: pointer;
  background-color: var(--grey-25);
}
.frame .right button.close:hover {
  background-color: var(--danger);
}
.frame .right button.close:focus-visible {
  background-color: var(--danger);
  border: none;
  outline: none;
}
.frame .right button:focus-visible {
  background-color: var(--grey-25);
  border: none;
  outline: none;
}

.border {
  background-color: var(--light-grey);
  height: 3px;
  border-radius: 3px;
  margin: 30px 0;
  --padding: 15px;
  width: calc(100% - var(--padding) * 4);
  padding: 0 var(--padding);
}

main.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}
main.controls h2 {
  color: var(--white-1);
  font-weight: 500;
  font-size: 17px;
  margin: 0;
  margin-bottom: 5px;
}
main.controls .imageBox {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-2);
  padding: 15px;
  border-radius: 3px;
  flex-grow: 1;
}
main.controls .row {
  --padding: 15px;
  width: calc(100% - var(--padding) * 2);
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
main.controls .row .inputSection {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
main.controls .row .inputSection label {
  color: var(--light-grey);
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 7px;
}
main.controls .row .inputSection input {
  --padding: 10px;
  background-color: var(--grey-1);
  border: none;
  border-radius: 3px;
  padding: var(--padding);
  font-size: 15px;
  color: var(--white-1);
  width: calc(100% - var(--padding) * 2);
  font-family: "Poppins", sans-serif;
}
main.controls .row .inputSection input:focus {
  outline: none;
}
main.controls .row .inputSection select {
  --padding: 10px;
  background-color: var(--grey-1);
  border: none;
  border-radius: 3px;
  padding: var(--padding);
  font-size: 15px;
  color: var(--white-1);
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 43px;
  padding-right: 15px;
}
main.controls .row .inputSection select:focus {
  outline: none;
}
main.controls .row .inputSection select:hover {
  cursor: pointer;
}
main.controls .row button {
  background-color: var(--grey-1);
  border: none;
  padding: 0;
  height: 43px;
  --padding: 10px;
  border-radius: 3px;
  padding: var(--padding);
  font-size: 15px;
  color: var(--white-1);
  flex-grow: 1;
}
main.controls .row button:hover {
  cursor: pointer;
}
main.controls .row button.disabled {
  filter: brightness(70%);
}
main.controls .row button.disabled:hover {
  cursor: default;
}
main.controls .row button.settingsBtn {
  background-color: var(--grey-1);
  border: none;
  width: auto;
  flex-grow: 0;
  padding: 10px;
  margin-left: 15px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.controls .row button.settingsBtn svg {
  height: 22px;
  width: 22px;
}
main.controls .row span.numOf {
  color: var(--light-grey);
  margin: 0 15px;
  font-size: 15px;
}

main.preview {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin: 0 15px;
  margin-right: 30px;
}
main.preview .outestBox {
  background-color: var(--grey-2);
  padding: 15px;
  border-radius: 15px;
  min-width: 300px;
}
main.preview .outestBox .top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}
main.preview .outestBox .top .badges {
  display: flex;
  align-items: center;
  background-color: var(--grey-1);
  padding: 5px;
  border-radius: 10px;
  height: -moz-min-content;
  height: min-content;
}
main.preview .outestBox .top .badges img {
  width: 20px;
  height: auto;
  margin: 0 2px;
}
main.preview .outestBox .top img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
main.preview .outestBox .innerBox {
  background-color: var(--grey-1);
  border-radius: 15px;
  padding: 15px;
}
main.preview .outestBox .innerBox .nameSection {
  padding-bottom: 10px;
  border-bottom: var(--grey-3) solid 2px;
  border-radius: 0px;
}
main.preview .outestBox .innerBox #preview_username {
  color: var(--white-1);
  font-size: 20px;
}
main.preview .outestBox .innerBox .bio {
  padding: 10px 0;
}
main.preview .outestBox .innerBox .bio span {
  color: var(--white-1);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
main.preview .outestBox .innerBox .bio p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: var(--white-1);
  font-weight: 400;
}
main.preview .outestBox .innerBox .memberSection span {
  color: var(--white-1);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
main.preview .outestBox .innerBox .memberSection span.memberTimestamp {
  font-weight: 400;
  letter-spacing: normal;
}
main.preview .outestBox .innerBox .memberSection img {
  height: 17px;
  margin-right: 7px;
  filter: grayscale(1);
}
main.preview .outestBox .innerBox .gameSection {
  padding-top: 10px;
}
main.preview .outestBox .innerBox .gameSection span.title {
  color: var(--white-1);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
main.preview .outestBox .innerBox .gameSection .game {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
main.preview .outestBox .innerBox .gameSection .textbox {
  display: flex;
  flex-direction: column;
}
main.preview .outestBox .innerBox .gameSection .textbox span {
  line-height: 1.2;
  color: var(--light-grey);
  font-size: 14px;
}
main.preview .outestBox .innerBox .gameSection .textbox span.name {
  color: var(--white-1);
}
main.preview .outestBox .innerBox .gameSection .textbox .playersBox {
  display: block;
}
main.preview .outestBox .innerBox .gameSection .textbox .playersBox.hidden {
  display: none;
}
main.preview .outestBox .innerBox .gameSection .imgBox {
  position: relative;
}
main.preview .outestBox .innerBox .gameSection .imgBox .bigImg {
  height: 70px;
  width: 70px;
  z-index: 1;
  margin-right: 10px;
  border-radius: 10px;
}
main.preview .outestBox .innerBox .gameSection .imgBox .smallImg {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  z-index: 3;
  border-radius: 100%;
}
main.preview .outestBox .innerBox .gameSection .buttons {
  display: flex;
  flex-direction: column;
}
main.preview .outestBox .innerBox .gameSection .buttons button {
  background-color: var(--grey-3);
  border: none;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
  color: var(--white-1);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
main.preview .outestBox .innerBox .gameSection .buttons button:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */